# MongoDB - DEV cluster
MONGO_URI=mongodb+srv://<user>:<password>@healthflex-dev.5kbaq08.mongodb.net/stance-development?retryWrites=true&w=majority
MONGO_DB=stance-development

# Google Cloud / Vertex AI
GOOGLE_CLOUD_PROJECT=stance-ai
GOOGLE_APPLICATION_CREDENTIALS=/app/stance-ai-8919b7295fb6.json
GOOGLE_CLOUD_LOCATION=us-central1

# Auto-start change stream listener
AUTO_START_CHANGE_STREAM=true
